<div class="card">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="card-header  bg-transparent">
            <h5>{{ !id ? 'Add' : 'Edit'}} Todo</h5>
        </div>
        <div class="card-body bg-transparent">
            <div class="row">
                <div class="col-sm-6 col-md-6 mb-3">
                    <div class="form-group">
                        <label for="description" class="me-3">Description: </label>
                        <input id="description" type="text" [formControl]="description">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 mb-3">
                    <div class="form-group">
                        <label class="me-3">
                            <input type="radio" [value]="true" [formControl]="status">
                            <span> Completed</span>
                        </label>
                        <label class="me-3">
                            <input type="radio" [value]="false" [formControl]="status">
                            <span> Not Completed</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer pb-0">
            <div class="btn-wrapper btn-wrapper-right">
                <button type="button" class="btn btn btn-link me-3" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-outline-primary me-3" (click)="reset()">Reset</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>