<div id="login-container">
    <div class="background-overlay"></div>
    <div id="loginForm" class="rounded-3">
      <div class="login-logo-container rounded-3">
        <div class="login-logo"></div>
      </div>
      <section class="login-form-body">
        <h4 class="app-name">FPT Software Academy</h4>
        <div class="other-login">
          <div class="social-text">
            <span id="spanSocialText">Sign in with:</span>
          </div>
          <div id="divHdnDiv" class="main-nav list-login">
            <button id="btnAzureAD" class="btn btn-fsoft-social-hdn" type="button" (click)="login()">
              FPT Software Account
            </button>
          </div>
        </div>

  
        <footer>
          <div class="help-desk">
            <a href="{{ 'mailto:' + 'fa.support@fsoft.com.vn'}}">
              <i class="mdi mdi-email"></i> fa.support@fsoft.com.vn
            </a>
          </div>
        </footer>
      </section>
    </div>
  </div>